{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to the Healthcare Management System</h1>
    <p class="lead">This is a backend system for managing patient and doctor records.</p>
    <hr class="my-4">
    <p>Please use the API endpoints to interact with the system. You can use a tool like Postman, Thunder Client etc. </p>
    <a class="btn btn-custom btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-outline-danger btn-lg" href="/login" role="button">Login</a>
</div>
{% endblock %}